.DS_Store
node_modules
dist
test-results/
package-lock.json
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js
.env
.env.local
.svelte-kit
drizzle
postgres_data
.cloudflare
.wrangler
wrangler.toml
.pnpm-debug.log
.netlify
.turbo
.test-tmp
symlink-from
.idea/
neon_db_creds
